<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>demo8</title>
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
  <script>
    // watch watcher
    // watchEffect - runs a function immediately while
    // reactively tracking its dependencies and re-runs
    // it whenever the dependencies are changed.
    const app = Vue.createApp({
      setup() {
        const { reactive, watch, watchEffect, toRefs } = Vue;
        const nameObj = reactive({
          name: "ZhenXiao",
          englishName: "Yu",
        });
        // lazy by default
        // Access both the previous and current value of the watched state
        // watch multiple fields with one watcher
        watch(
          [() => nameObj.name, () => nameObj.englishName],
          ([curName, curEng], [prevName, preEng]) => {
            console.log("watch", curName, prevName, "---", curEng, preEng);
          },
          { immediate: true }
        );

        // WatchEffect, execete immediately
        // dont pass what you want to observe，only pass destroy function (set time out)
        // cant keep track of  previous value
        // const stop = watchEffect(() => {
        //   console.log(nameObj.name);
        //   console.log(nameObj.englishName);
        //   setTimeout(() => {
        //     stop();
        //   }, 5000)
        // })

        const { name, englishName } = toRefs(nameObj);

        return { name, englishName };
      },
      template: `
      <div>
        <div>
          Name: <input v-model="name"> 
        </div>
        <div>
          Name is {{name}}
        </div>
        <div>
          EnglishName: <input v-model="englishName"> 
        </div>
        <div>
          EnglishName is {{englishName}}
        </div>
      </div>
    `,
    });

    const vm = app.mount("#root");
  </script>
</html>
