<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@next"></script>
    <title>demo3</title>
  </head>
  <body>
    <div id="root"></div>
  </body>

  <script>
    Vue.createApp({
        data(){
            return{
                inputValue: '',
                list:[]
            }
        },
        methods: {
            handleAddItem() {
                this.list.push(this.inputValue)
                this.inputValue='';
            }
        },
        template:
        //'<ul><li>hello</li><li>world</li><li>test1</li><li>test2</li></ul>'
        //'<ul><li v-for="item of list">{{item}} test</li></ul>'
        '<div><input v-model="inputValue" /><button v-on:click="handleAddItem">Add</button><ul><li v-for="(item, index) of list">{{item}}</li></ul></div>'
    }).mount('#root');
  </script>
</html>
